# Looping Logic: Mastering Iteration and Pattern Design

## For Loop
## While Loop
## Pattern Priniting

## Loops are important in Python or in any other programming language as they help you to execute a block of code repeatedly. You will often come face to face with situations where you would need to use a piece of code over and over but you don't want to write the same line of code multiple times.

### In Python we have mainly two different types of loops :


* <u>for loop</u> : In the context of most data science work, Python for loops are used to loop through an iterable object (like a list, tuple, set, etc.) and perform the same action for each entry. For example, a for loop would allow us to iterate through a list, performing the same action on each item in the list.


* <u>while loop</u> : The while loop is somewhat similar to an if statement, it executes the code inside, if the condition is True. However, as opposed to the if statement, the while loop continues to execute the code repeatedly as long as the condition is True.

# for loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Iterable is an object, which one can iterate over. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff

### <u> Example 1</u>


#### Let us print each element of our list of strings using a for loop statement

In [ ]:
# Consider a list of strings

got_houses = ['Stark', 'Arryn', 'Baratheon', 'Tully', 'Greyjoy', 'Lannister', 'Tyrell', 'Martell', 'Targaryen']

In [ ]:
# A simple for loop to print the houses of GOT universe
for house in got_houses[::-1]:
  print(f"House {house}")

House Targaryen
House Martell
House Tyrell
House Lannister
House Greyjoy
House Tully
House Baratheon
House Arryn
House Stark

### Another interesting way to loop through the elements of a list is to use the <code>enumerate()</code> function. Using enumerate requires us two iterators index and element

In [ ]:
# Using enumerate function to loop through the elements of a list
for number,house in enumerate(got_houses):
  print(f"The house no of house {house} is {number + 1}")

The house no of house Stark is 1
The house no of house Arryn is 2
The house no of house Baratheon is 3
The house no of house Tully is 4
The house no of house Greyjoy is 5
The house no of house Lannister is 6
The house no of house Tyrell is 7
The house no of house Martell is 8
The house no of house Targaryen is 9

In [ ]:
list(enumerate(got_houses))

[(0, 'Stark'),
 (1, 'Arryn'),
 (2, 'Baratheon'),
 (3, 'Tully'),
 (4, 'Greyjoy'),
 (5, 'Lannister'),
 (6, 'Tyrell'),
 (7, 'Martell'),
 (8, 'Targaryen')]

# Example 1
## print all the numbers from 0 to 100 using for loop

In [ ]:
#code here

for i in range(101):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# Example 2
## print all the squares of numbers from 0 to 100 using for loop

In [ ]:
for i in range(101):
  print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801
10000

# Example 3
## Store all the squares in a list

In [ ]:
square_num = []
for i in range(101):
  square_num.append(i**2)

print(square_num)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

# Example 5

In [ ]:
country_city_river_list = [('India','New Delhi','Ganga'),('Australia','Canberra','Rovers'),('United States','Washington DC','Missouri'),('England','London','Thames')]

In [ ]:
# Let us iterate through each tuple element of this list and unpack each item

for country,city,river in country_city_river_list:

  print(f"The capital of the country {country} is {city} and it also has the river {river}.")

The capital of the country India is New Delhi and it also has the river Ganga.
The capital of the country Australia is Canberra and it also has the river Rovers.
The capital of the country United States is Washington DC and it also has the river Missouri.
The capital of the country England is London and it also has the river Thames.

# <u>While Loops </u>

### The <code>while</code> statement in Python is one of the most general ways to perform iteration. A <code>while</code> statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

### The general format of a while loop is:

    while test:
        code statements
    else:
        final code statements

### Let’s look at a few simple <code>while</code> loops in action.

In [ ]:
x = 0

while x < 10:
  print('x is currently: ',x)
  print('x is still less than 10, adding 1 to x')
  x=x+1

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x

In [ ]:
#-----------------------------------#----------------------------# Testing -----------------------------

In [ ]:
# statment
x = 5
print("somthing")
x = x + 1
x = x + 1
x

somthing

7

In [ ]:
#if you want to print 5 paratha
x = 0
for i in range(10):
  x = x + 2
  print(x)

2
4
6
8
10
12
14
16
18
20

In [ ]:
l = [2,4,6,8,10]

for num in l:
  print(num*num)

4
16
36
64
100

In [ ]:
# "Ankita" -----> ['A','n','k','t','a']
l = []
for i in "Ankita"[::-1]:
  l.append(i)

In [ ]:
l

['a', 't', 'i', 'k', 'n', 'A']

In [ ]:
l[::-1]

['A', 'n', 'k', 'i', 't', 'a']

In [ ]:
food = ["Pav bhaji","Anda bhurji","paratha"]


for i,j in enumerate(food):
  print(i+1,j)

1 Pav bhaji
2 Anda bhurji
3 paratha

In [ ]:
list(enumerate(food))

[(0, 'Pav bhaji'), (1, 'Anda bhurji'), (2, 'paratha')]

In [ ]:
x = 0
for i in "Pratik":
  x = x +1

x

6

In [ ]:
# Danger 💀💀💀💀💀💀💀!!!

6

In [ ]:
#while loop stops the loop when the condition is False
x = 0

while x < 5:
  print('x is currently: ',x)
  print('x is still less than 5, adding 1 to x')
  x=x+1

x is currently:  0
x is still less than 5, adding 1 to x
x is currently:  1
x is still less than 5, adding 1 to x
x is currently:  2
x is still less than 5, adding 1 to x
x is currently:  3
x is still less than 5, adding 1 to x
x is currently:  4
x is still less than 5, adding 1 to x

In [ ]:
5 < 5

False

In [ ]:
account = []

while True:
  paisa = int(input("Bhai kuch paise dede 😢😭🥲🥲 "))
  account.append(paisa)

  if paisa == 0:
    print(" Total paisa udhar hua he ",sum(account))
    break

Bhai kuch paise dede 😢😭🥲🥲 200
Bhai kuch paise dede 😢😭🥲🥲 300
Bhai kuch paise dede 😢😭🥲🥲 500
Bhai kuch paise dede 😢😭🥲🥲 0
 Total paisa udhar hua he  1000

In [ ]:
id = ["IN002","PK003","IN004","US005","IN001","PK008"]

In [ ]:
id_IN = []
id_PK = []
id_US = []

#????
# Fill the respective ID in the above list!

for i in id:
  if "IN" in i:
    id_IN.append(i)
  elif "PK" in i:
    id_PK.append(i)
  else:
    id_US.append(i)

In [ ]:
for i in id:
  if "IN" in i:
    id_IN.append(i)
  elif "PK" in i:
    id_PK.append(i)
  else:
    id_US.append(i)


#

In [ ]:
id_IN

['IN002', 'IN004', 'IN001']

In [ ]:
id_PK

['PK003', 'PK008']

In [ ]:
id_US

['US005']

In [ ]:
d = []
for i in [45000,60000,30000,55000]:
  d.append(i*1.2)

In [ ]:
l = list(range(101))

In [ ]:
s = []
for i in l:
  s.append(i**2)

In [ ]:
l = [,'IN005','US'IN004'002','IN008','UK004']

In [ ]:
ind_id = []

for i in l:
  if i[:2] == "IN":
    ind_id.append(i)

In [ ]:
ind_id

['IN004', 'IN005', 'IN008']

In [ ]:
names = ['Aniket','Varun','Sagar']

In [ ]:
for index,name in enumerate(names):
  print(f' {name} cha number aahe {index + 1}')

 Aniket cha number aahe 1
 Varun cha number aahe 2
 Sagar cha number aahe 3

In [ ]:
list(enumerate(names))

[(0, 'Aniket'), (1, 'Varun'), (2, 'Sagar')]

In [ ]:
account = []

while True:
  paise = int(input("Bhai kuch paise dede  😭🥲"))
  account.append(paise)

  if paise == 0:
    break

print(f'Total paise jhale {sum(account)}')

Bhai kuch paise dede  😭🥲5345
Bhai kuch paise dede  😭🥲563
Bhai kuch paise dede  😭🥲436
Bhai kuch paise dede  😭🥲7346
Bhai kuch paise dede  😭🥲563
Bhai kuch paise dede  😭🥲5
Bhai kuch paise dede  😭🥲1
Bhai kuch paise dede  😭🥲45734
Bhai kuch paise dede  😭🥲0
Total paise jhale 59993

In [ ]:
l1 = list(range(1,101))
l1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [ ]:
l2 = []

for i in l1:
  l2.append(i**3)

l2

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [ ]:
names = ["Sagar",'Aniket','Nilesh',"Mayuri"]

n_names = []

for i in names:
  n_names.append(f'{i} Namaste 🙏🏼')

n_names

['Sagar Namaste 🙏🏼',
 'Aniket Namaste 🙏🏼',
 'Nilesh Namaste 🙏🏼',
 'Mayuri Namaste 🙏🏼']

In [ ]:
got_houses = ['Stark', 'Arryn', 'Baratheon', 'Tully', 'Greyjoy', 'Lannister', 'Tyrell', 'Martell', 'Targaryen']


# A simple for loop to print the houses of GOT universe
for house in got_houses[::-1]:
  print(f"House {house}")

House Targaryen
House Martell
House Tyrell
House Lannister
House Greyjoy
House Tully
House Baratheon
House Arryn
House Stark

In [ ]:
names

['Sagar', 'Aniket', 'Nilesh', 'Mayuri']

In [ ]:
for i,j in enumerate(names):
  print(f'{j} cha index aahe {i + 1}')

Sagar cha index aahe 1
Aniket cha index aahe 2
Nilesh cha index aahe 3
Mayuri cha index aahe 4

In [ ]:
# Using enumerate function to loop through the elements of a list
for number,house in enumerate(got_houses):
  print(f"The house no of house {house} is {number + 1}")

The house no of house Stark is 1
The house no of house Arryn is 2
The house no of house Baratheon is 3
The house no of house Tully is 4
The house no of house Greyjoy is 5
The house no of house Lannister is 6
The house no of house Tyrell is 7
The house no of house Martell is 8
The house no of house Targaryen is 9

In [ ]:
# while


x = 0

while x < 10:
  print('x is currently: ',x)
  print('x is still less than 10, adding 1 to x')
  x=x+1

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x

In [ ]:
# 💀💀💀💀⚡⚡⚡

account = []



while True:
  paise = 1
  if paise == 0:
    break

  else:
    paise = int(input("Bhai kuch paise dede 😭🥲"))
    account.append(paise)

Bhai kuch paise dede 😭🥲500
Bhai kuch paise dede 😭🥲1000
Bhai kuch paise dede 😭🥲300
Bhai kuch paise dede 😭🥲200
Bhai kuch paise dede 😭🥲0
Bhai kuch paise dede 😭🥲0.0

ValueError: invalid literal for int() with base 10: '0.0'

In [ ]:
account = []

while True:
  paise = int(input("Bhai kuch paise dede  😭🥲"))
  account.append(paise)

  if sum(account) > 2000:
    break

print(f'Total paise jhale {sum(account)}')

Bhai kuch paise dede  😭🥲300
Bhai kuch paise dede  😭🥲56
Bhai kuch paise dede  😭🥲700
Bhai kuch paise dede  😭🥲500
Bhai kuch paise dede  😭🥲500
Total paise jhale 2056